.slider {
	display: grid;
	align-items: center;
	grid-template-columns: 1.2rem min-content 1fr min-content 1.2rem;
}
.slider > * {
	grid-row: 1;
}
.slide {
	grid-column: 1 / -1;
	z-index: -1;
}
.btn {
	background-color: #fff;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.previous {
	grid-column: 2;
}
.next {
	grid-column: 4;
}
